<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/CHECKRMASTER</property>

        <property name="hibernate.connection.username">sneharm</property>
        <property name="hibernate.connection.password">nLs^r*()18:10</property>

        <!-- Hibernate dialect for the database -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Show SQL queries in console (optional) -->
        <property name="hibernate.show_sql">true</property>

        <!-- Auto-generate database tables from entity mappings -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.connection.autocommit">true</property>


        <!-- Entity mappings -->
        <mapping class="com.zemoso.checkr.entity.AdverseAction"/>
        <mapping class="com.zemoso.checkr.entity.AdverseActionNotification"/>
        <mapping class="com.zemoso.checkr.entity.Candidate"/>
        <mapping class="com.zemoso.checkr.entity.Case"/>
        <mapping class="com.zemoso.checkr.entity.Engage"/>
        <mapping class="com.zemoso.checkr.entity.HR"/>
    </session-factory>

</hibernate-configuration>
